@import "variable.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

.playoff-table {
  font-family: 'Roboto', sans-serif;
  border-collapse: collapse;

  img {
    display: inline-block;
    width: 40px;
    height: 40px;
  }

  .text-center {
    text-align: center;
  }

  tr {
    background-color: $grayPrimary;
  }
  tr.success {
    background-color: $greenPrimary;
  }
  tr.danger {
    background-color: $redPrimary;
  }

  tr > th,
  tr > td,
  * > tr > th,
  * > tr > td {
    vertical-align: middle;
    border: 1px solid $grayTertiary;
    padding: 0.2em 0.4em;
    min-height: 40px;
    max-height: 40px;
  }
}