$grayPrimary: #EAECF0;
$graySecondary: #F9F9F9;
$grayTertiary: #AAAAAA;

$greenPrimary: #CFC;
$greenSecondary: #97ECBA;
$greenTertiary: #228B22;

$redPrimary: #FCC;
$redSecondary: #FF8080;
$redTertiary: #B22222;